body {
  min-height: 100vh;
  margin: 0;
  width: 1280px;
  background: #2c2b3d;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px 100px;
  gap: 607px;
  padding-top: 70px;
}

nav a {
  display: flex;
  align-content: center;
  color: #fff;
  text-align: center;
  font-family: 'JetBrains Mono';
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}

nav a img {
  padding-left: 2px;
}

ul {
  display: flex;
  gap: 64px;
  list-style: none;
}

ul li a {
  color: #fff;
  text-align: center;
  font-family: 'JetBrains Mono';
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  text-decoration: none;
}

section {
  margin: 0 89px 157px 99px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  gap: 82px;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: 'JetBrains Mono';
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

h1 span {
  color: #00bfa6;
}

p {
  color: #c2c2c2;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

p strong {
  font-weight: 700;
}

p span {
  color: #00bfa6;
  font-weight: 700;
}

#line {
  width: 568.001px;
  height: 1px;
  background: #00bfa6;
  margin: 0 auto 27px;
}

footer {
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: 'JetBrains Mono';
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer img {
  position: fixed;
  width: 51px;
  height: 62px;
  bottom: 20px;
  left: 20px;
}
